.env

node_modules/

.vscode
.gitignore
/.claudeignore
/BACKLOG.md
/CLAUDE.md
/DEPLOYMENT.md
/assets
/npm_safety_guide.md
/apps/frontend/dist/assets
/apps/frontend/dist
/checkpoint
/apps/backend/bin
.DS_Store
